@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@*front/home page with an image*@
<h1>
    Welcome to The Joel Hilton Film Collection
</h1>

<div>
    <p>Some movies are good but others change lives.</p>
</div>
<img src="~/img/joelHilton.jpg" height="500"/>

@*add this in the layout page instead*@
@*<div>
    <a asp-controller="Home" asp-action="MovieApplication">Fill Out Application</a>
    <a asp-controller="Home" asp-action="Podcast">Podcasts</a>
</div>*@